<jqxDataTable [width]="getWidth()" [source]="dataAdapter" [columns]="columns"
              [pageable]="true" [columnsResize]="true" [pagerButtonsCount]="10">
</jqxDataTable>

<h1>List of employees</h1>
<input type="button" value="Добавить" class="btn btn-primary" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
  <thead>
    <tr>
      <td>First name</td>
      <td>Second name</td>
      <td>Gender</td>
      <td>City</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of employees">
      <ng-template [ngIf]="employee?.id != e.id" [ngIfElse]="edit">
        <td>{{e?.firstName}}</td>
        <td>{{e?.lastName}}</td>
        <td>{{e?.gender}}</td>
        <td>{{e?.city}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editEmployee(e)">Изменить</button>
          <button class="btn btn-sm btn-danger" (click)="open(content,e)" href="javascript:void(0);">Удалить</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="delete(e)">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
  </div>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="employee.firstName" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="employee.lastName" class="form-control" />
  </td>
  <td>
    <select class="form-select" id="cars" [(ngModel)]="employee.gender" >
      <option value="Female">Female</option>
      <option value="Male">Male</option>
    </select>
  </td>
  <td>
    <input type="text" [(ngModel)]="employee.city" class="form-control" />
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
  <div class="form-group">
    <label>First name</label>
    <input type="text" [(ngModel)]="employee.firstName" class="form-control" />
  </div>
  <div class="form-group">
    <label>Last name</label>
    <input type="text" [(ngModel)]="employee.lastName" class="form-control" />
  </div>
  <div class="form-group">
    <label>Gender</label>
    <input type="text" [(ngModel)]="employee.gender" class="form-control" />
  </div>
  <div class="form-group">
    <label>City</label>
    <input type="text" [(ngModel)]="employee.city" class="form-control" />
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
